# no data
msas/
*.pkl
ranked_[1-4].pdb
relaxed_model_[2-5].pdb
unrelaxed_model_[2-5].pdb
*.json

# no alphafold logs
*.cache
*localtime

#no slurm logs
slurm_log/
*.err
*.out

# no personal scripts
pymol_scripts/*
