# no data
msas/
*.pkl
ranked_[1-4].pdb
relaxed_model_[2-5].pdb
unrelaxed_model_[2-5].pdb
*.json

# no alphafold logs
*.cache
*localtime

#no slurm logs
*.err
*.out

# exclude everything
#output_dir/*
#pdb_structures/*
#sequences/*

# exception to the rule
#!output_dir/.gitkeep
#!pdb_structures/.gitkeep
#!sequences/.gitkeep

#*.fasta
#*.gz
#*.swp
